@model EDeviceClaims.WebUi.Models.ClaimViewModel
@{
    ViewBag.Title = "Start A New Claim";
}
<br/>
<hr/>
<div class="welcome">
    <h2>@ViewBag.Title</h2>
</div>
<hr/>
<br/>

<h3>A new claim has been started for the device shown below.</h3>
<hr />
<br />

<table class="table table-bordered table-striped">
    <tr>
        <td>
            <span style="color:#660033"><strong>Status</strong></span>
</td>
        <td>
            @Model.Status
        </td>
    </tr>
    <tr>
        <td>
            <span style="color:#660033"><strong>Claim Started</strong></span>
</td>
        <td>
            @Model.WhenCreated
        </td>
    </tr>
    <tr>
        <td>
            <span style="color:#660033"><strong>Claim Number</strong></span>
</td>
        <td>
            @Model.Id;
        </td>
    </tr>
    <tr>
        <td>
            <span style="color:#660033"><strong>Device</strong></span>
</td>
        <td>
            @Model.DeviceName
        </td>
    </tr>
    <tr>
        <td>
            <span style="color:#660033"><strong>Serial Number</strong></span>
</td>
        <td>
            @Model.SerialNumber
        </td>
    </tr>
    <tr>
        <td>
            <span style="color:#660033"><strong>Policy Number</strong></span>
</td>
        <td>
            @Model.Number
        </td>
    </tr>
</table>

<br/>

@Html.ActionLink("Return Home", "Index", "Home", new { @id = "HomePage" }, new { @class = "btn btn-info" })

